<div class="col-md-2">
<h3>{{ name }} <span class="badge"><span class="glyphicon glyphicon-king rating-overall"> {{ rating_overall }} / {{ rating_batman }}</span></h3>
    <a href="#" class="thumbnail">
        <img src="{{ icon_url }}" class="img-circle">
    </a>
</div>
