<div class="btn-group" role="group" aria-label="...">
<button type="button" class="btn btn-{{#if isOverallSelected }}primary{{else}}default{{/if}}" value="overall:overall">Overall</button>
<button type="button" class="btn btn-{{#if isWhiteSelected }}primary{{else}}default{{/if}}" value="overall:white">White</button>
<button type="button" class="btn btn-{{#if isBlackSelected }}primary{{else}}default{{/if}}" value="overall:black">Black</button>
</div>
