Django>=1.6,<1.8
env-excavator==1.2.0
python-dotenv==0.1.0
dj-database-url==0.3.0
djangorestframework==3.0.4
django-argonauts==1.0.1
django-pipeline==1.4.3
psycopg2==2.5.4
Pillow==2.7.0
sorl-thumbnail==12.2
sorl-thumbnail==12.2
