<div id="winning-team-selection">
    <!-- PlayerSelectView Winners -->
</div>

<div id="losing-team-selection">
    <!-- PlayerSelectView Losers -->
</div>

<div id="losing-team-color">
    <!-- LossingColor -->
</div>

<div id="loss-type" class="row">
    <!-- LossTypeView -->
</div>

<button type="button" class="btn btn-success btn-lg">Submit</button>
