<div id="winning-team-selection" class="container">
    <!-- PlayerSelectView Winners -->
</div>

<div id="losing-team-selection" class="container">
    <!-- PlayerSelectView Losers -->
</div>

<div id="losing-team-color" class="container">
    <!-- LossingColor -->
</div>

<div id="loss-type"  class="container">
    <!-- LossTypeView -->
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn  btn-block btn-success btn-lg mont">Save Game</button>
        </div>
    </div>
</div>
