<h2>Pick losing team's colors</h2>
<div class="player-container lose{{#if isWhiteLoser }} selected{{/if}}">
    <img src="{{ losingWhite.icon_url }}" class="player img-responsive" id="{{ losingWhite.name }}"/>
    <div class="player-status">
    </div>
</div>
<a class="btn btn-success white">Loser (White)</a>
<a class="swap"> swap </a>
<div class="player-container lose{{#if isBlackLoser }} selected{{/if}}">
    <img src="{{ losingBlack.icon_url }}" class="player img-responsive" id="{{ losingBlack.name }}"/>
     <div class="player-status">
    </div>
</div>
<a class="btn btn-danger black">Loser (Black)</a>
