<div class="form-group form-group-lg{{#if hasErrors }} has-error{{/if}}">
    Which Color Lost?
    {{#each losingColorOptions }}
        <div class="radio">
            <label>
                <input type="radio" value="{{ value }}"{{#if isSelected }} checked{{/if}}>
                {{ name }}
            </label>
        </div>
    {{/each}}
</div>
