<div class="row">
    <div class="col-xs-12">
        <h2>How did the game end?</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <button class="btn btn-block btn-lg btn-{{#if isTime }}primary{{else}}default{{/if}} time mont">Time</button>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-block btn-lg btn-{{#if isCheckmate }}primary{{else}}default{{/if}} checkmate mont">Checkmate</button>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-block btn-lg btn-{{#if isSwindle }}primary{{else}}default{{/if}} swindle mont">Swindle</button>
    </div>
    <div class="col-sm-6">
        <button class="btn btn-block btn-lg btn-{{#if isImminentDeath }}primary{{else}}default{{/if}} imminent-death mont">Imminent Death</button>
    </div>
</div>
