<div class="player-container{{#if isPlayerSelected }} selected{{/if}}{{#if isPlayerAvailable }} available{{/if}}">
    <img src="{{ icon_url }}" class="player img-responsive" id="{{ name }}"/>
</div>
