<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>Winner (White)</td>
            <td>Winner (Black)</td>
            <td>Loser (White)</td>
            <td>Loser (Black)</td>
            <td>Losing Color</td>
            <td>Loss Type</td>
            <td>Controls</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</div>
