<div class="alert alert-{{ level }}" role="alert">
    {{#if isDismissable }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{/if}}
    {{ message }}
</div>
