<div class="row">
    <div class="col-md-6">
        <div id="winning-white-player">
            <!-- PlayerSelectView Winner/White -->
        </div>
        <div id="winning-black-player">
            <!-- PlayerSelectView Winner/Black -->
        </div>
    </div>
    <div class="col-md-6">
        <div id="losing-white-player">
            <!-- Losing White Player Select View -->
            <!-- PlayerSelectView Loser/White -->
        </div>
        <div id="losing-black-player">
            <!-- PlayerSelectView Loser/Black -->
        </div>

        <div id="losing-color">
            <!-- LossingColor -->
        </div>
    </div>
</div>

<div id="loss-type" class="row">
    <!-- LossTypeView -->
</div>

<button type="button" class="btn btn-success btn-lg">Submit</button>
