{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table data-toggle="table" class = 'table table-striped'> 
                <thead>
                    <tr>
                        <th data-field="player"> Player Name </th>
                        <th data-field="icon"> Icon </th>
                        <th data-field="score"> Rating </th>
                  <tr>
              <thead>
        {% for player in players %}
       {% if player.total_games > 0 %} <tr><td valign = 'middle'>   {{  player.name }}{% endif %}  </td> 
       {% thumbnail player.icon "200x200" as im %}
           {% if player.total_games > 0 %}    <td valign = 'middle'>  <img class ='leaderboard-icon img-responsive' src='{{ im.url }}'> {% endif %}   </td> 
       {% endthumbnail %}
       {% if player.total_games > 0 %}  <td valign = 'middle'>    {{  player.latest_rating }} {% endif %}  </td></tr> 
        {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
