{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table data-toggle="table" class = 'table table-striped'> 
                <thead>
                    <tr>
                        <th data-field="player"> Player Name </th>
                        <th data-field="icon"> Icon </th>
                        <th data-field="score"> Rating </th>
                  <tr>
              <thead>
        {% for player in players %}
        <tr><td>   {{  player.name }}  </td> 
            <td>  <img class ='leaderboard-icon img-responsive'  src= '{{ player.icon_url }}' ></td> 
         <td>   {{  player.latest_rating }} </td></tr> 
        {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
