{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table data-toggle="table" class = 'table table-striped'> 
                <thead>
                    <tr>
                        <th data-field="player"> Player Name </th>
                        <th data-field="icon"> Icon </th>
                        <th data-field="score"> Rating </th>
                  <tr>
              <thead>
            </table>
        {% for player in players %}
        <tr><td>   {{  player.name }}  </td> 
         <td>   {{  player.icon }}</td> 
         <td>   {{  player.latest_rating }} </td></tr> 
         <br>
        {% endfor %}
        </div>
    </div>
</div>
{

{% endblock content %}
