{% extends "base.html" %}
{% load pipeline %}
{% load argonauts %}

{% block extra_scripts %}
    {% javascript 'player-roster' %}
{% endblock %}

{% block content %}
<div id="application" class="container">
    <div id="messages" class="row">
    </div>
    <div class="row">
        <div id="player-form" class="col-md-6 col-md-offset-3">
            <!-- PlayerFormView -->
        </div>
    </div>
    <div id="roster" class="row">
        <!-- RosterView -->
    </div>
</div>
{% endblock content %}

{% block body %}
{{ block.super }}
<script>
$(document).ready(function() {
    var players = {{ players|json }};
    window.application = new app.PlayerRosterApp({
        players: players,
    });
    window.application.start();
});
</script>
{% endblock body %}
