{% extends "base.html" %}
{% load pipeline %}
{% load argonauts %}

{% block extra_scripts %}
    {% javascript 'report-game-templates' %}
    {% javascript 'report-game' %}
{% endblock %}


{% block heading %}Report A Game{% endblock %}


{% block content %}
<div id="application" class="container">
    <div id="report-game-form">
    </div>

    <div id="recent-games">
    </div>
</div>
{% endblock content %}


{% block body %}
{{ block.super }}
<script>
$(document).ready(function() {
    var players = {{ players|json }};
    var recent_games = {{ recent_games|json }};
    window.application = new app.ReportGameApp({
        players: players,
        recent_games: recent_games,
    });
    window.application.start();
});
</script>
{% endblock body %}
