{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table data-toggle="table" class = 'table table-striped'> 
                <thead>
                    <tr>
                        <th data-field="white_player">White Player Name </th>
                        <th data-field="black_player">Black Player Name </th>
                        <th data-field="team_score">Team Score </th>
                  <tr>
              <thead>
        {% for team in teams %}
        <tr><td valign = 'middle'>   {{  team.white_player.name }}  </td> 
         <td valign = 'middle'>   {{  team.black_player.name }}</td> 
         <td valign = 'middle'>   {{ team.latest_rating }}</td> </tr> 
        {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
