{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <table data-toggle="table"> 
                <thead>
                    <tr>
                        <th data-field="white_player">White Player Name </th>
                        <th data-field="black_player">Black Player Name </th>
                        <th data-field="team_score">Team Score </th>
                  <tr>
              <thead>
            </table>
        {% for team in teams %}
         <tr>   {{  team.white_player.name }}  </tr> 
         <tr>   {{  team.black_player.name }}</tr> 
         <tr>   {{ team.latest_rating }} </tr> 
         <br>
        {% endfor %}
        </div>
    </div>
</div>
{

{% endblock content %}
