@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
h1,
h2,
h3,
h4,
h5,
h6 {text-transform: uppercase; text-align: center;}
.btn {
    margin-bottom: 10px;
}
.player-container {
    padding: 5px;
    width: 33%; 
    margin: 0 auto;
    box-sizing: border-box; 
    position: relative; 
    text-align: center; 
/*    -webkit-mask: url(../images/poly.svg) top left / 80%  no-repeat; */    
    background: #4F5161;  
    float: left;
    border-radius: 50%;
}
.player-container.selected {
    background: #3AC14A;
}
.player {
    border-radius: 50%;
    /* -webkit-mask: url(../images/poly.svg) top left / 80% no-repeat;*/ 
    /*-webkit-clip-path: polygon(50% 1%,97% 25%,97% 75%,50% 100%, 2% 75%, 2% 25%);*/
}

.player-status {
    border-radius: 50%;
    position: absolute; 
    bottom: 0%; 
    right: 0px;
    -webkit-mask: url(../images/curve.svg) 0% 125% / 100% no-repeat; 
    height: 100%; 
    width: 100%; 
    background: #4F5161;
}
.player-status.black {
    transform: scaleX(-1);
    left: 0;
     -webkit-mask: url(../images/curve.svg) 0% 125% / 100% no-repeat;
}
.player-status .color {
    position: absolute;
    background: url(../images/white-team.svg) no-repeat top left / cover;
    height: 25%;
    width: 25%;
    transform: scaleX(-1);
    left: 63%;
    bottom: 20%;
}

.player-status.black .color {
    background: url(../images/black-team.svg) no-repeat top left / cover;
}
.player-status.white .color {
    left: 60%;
    transform: scaleX(1);
}
.win .player-status, .player-container.win {
    background: #3AC14A;
}

.lose .player-status, .player-container.lose {
    background: #E53944;
}

.mont {font-family: "Montserrat", helvetica, sans-serif; text-transform: uppercase;}

@media (max-width: 667px) {
    #losing-team-color .player-container, #winning-team-color .player-container {width: 100%;}
}
