@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
h1,
h2,
h3,
h4,
h5,
h6 {text-transform: uppercase;}
.player-container {
    padding: 5px 7px 5px 5px;
    width: 33%; 
    box-sizing: border-box; 
    position: relative; 
    text-align: center; 
    -webkit-mask: url(../images/poly.svg) top left / 80%  no-repeat; 
    background: #4F5161;  
    float: left;
}
.player-container.selected {
    background: #3AC14A;
}
.player {
    -webkit-mask: url(../images/poly.svg) top left / 80% no-repeat; 
    /*-webkit-clip-path: polygon(50% 1%,97% 25%,97% 75%,50% 100%, 2% 75%, 2% 25%);*/
}

.player-status {
    position: absolute; 
    bottom: 9%; 
    right: 0px;
    -webkit-mask: url(../images/curve.svg) top left / 80% no-repeat; 
    height: 50%; 
    width: 100%; 
    background: #4F5161;
}
.player-status.black {
    transform: scaleX(-1);
    left: 0;
     -webkit-mask: url(../images/curve.svg) top right / 80% no-repeat;
}
.player-status .color {
    position: absolute;
    background: url(../images/white-team.svg) no-repeat top left / cover;
    height: 40px;
    width: 40px;
    transform: scaleX(-1);
    right: 10px;
    top: 8px;
}
.player-status.black .color {
    background: url(../images/black-team.svg) no-repeat top left / cover;
}
.player-status.white .color {
    left: 49%;
    transform: scaleX(1);
}
.win .player-status, .player-container.win {
    background: #3AC14A;
}

.lose .player-status, .player-container.lose {
    background: #E53944;
}

@media (max-width: 667px) {
    #losing-team-color .player-container, #winning-team-color .player-container {width: 45%;}
}
