{% load pipeline %}
<html>
    <head>
        {% stylesheet 'base' %}
        {% javascript 'base' %}
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    </head>
    <body>
        {% block body %}
            <ul class="nav nav-tabs">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="{% url 'report-game' %}">Report A Game</a></li>
                <li role="presentation"><a href="{% url 'create-player' %}">New Player</a></li>
                <li role="presentation"><a href="{% url 'team-leaderboard' %}">Team Leaderboard</a></li>
                <li role="presentation"><a href="{% url 'individual-leaderboard' %}">Individual Leaderboard</a></li>
            </ul>
            <div class="container">
                <h1>{% block heading %}{% endblock %}</h1>
            </div>
            {% block content %}
            {% endblock content %}
        {% endblock body %}
    </body>
</html>
